{% extends './layout_main.html' %}
{% block body %}
<div class="form-container">
  <form class="" action="https://formspree.io/f/mbjqjrnv" id="my-form" method="POST">
    <div class="form-group">
      <label for="Firstname" class="form-label">Firstname <span style="color:#FF0000" ;>*</span></label>
      <input name="Firstname" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="Lastname" class="form-label">Lastname <span style="color:#FF0000" ;>*</span></label>
      <input name="Lastname" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="Email" class="form-label">Email <span style="color:#FF0000" ;>*</span></label>
      <input name="Email" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="Phone" class="form-label">Phone <span style="color:#FF0000" ;>*</span></label>
      <input name="Phone" class="form-control" required>
    </div>
    <div class="form-group">
      <label for="Message" class="form-label">Message <span style="color:#FF0000" ;>*</span></label>
      <textarea name="Message" class="form-control" rows="3"></textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<div id="status"></div>
<hr>
{% endblock %}