{% extends 'layout.html' %}
{% block title%}Enroll Kids{% endblock %}

{% block content %}
<div class="d-flex" id="wrapper">
  <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
        </svg>admin
      </div>
      <div class="list-group list-group-flush">
        <a href="{{ url_for('auth.register_admin') }}" class="list-group-item list-group-item-action bg-light">Register Admin</a>
        <a href="{{ url_for('admin.index_admin') }}" class="list-group-item list-group-item-action bg-light">Kids Data</a>
        <a href="{{ url_for('admin.parents_data') }}" class="list-group-item list-group-item-action bg-light">Parents Data</a>
        <a href="{{ url_for('auth.logout') }}" class="list-group-item list-group-item-action bg-light">Log Out</a>
      </div>
  </div>
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-primary" id="menu-toggle">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="white" class="bi bi-list" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </button>
      <h1 class="h1-index">Bright Minds ELC</h1>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
          </li>
        </ul>
      </div>
    </nav>
    {% for parent in parents %}
    <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
    <span>{{parent['username_parent']}}</span></h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#ID</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Lame</th>
          <th scope="col">Email</th>
          <th scope="col">Phone Number</th>
          <th scope="col">Kid</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{ parent['id'] }}</th>
          <td><span>{{ parent['firstname_parent'] }}</span></td>
          <td><span>{{ parent['lastname_parent'] }}</span></td>
          <td><span>{{ parent['email_parent'] }}</span></td>
          <td><span>{{ parent['phone_parent'] }}</span></td>
        </tr>
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
{% endblock %}


