<!DOCTYPE html>
<html>

<head>
  <title>Admission Form | Part 2</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles_system.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
  <div class="forms-enroll">
    {% for kids in kids %}
    <a href="{{ url_for('system.online_registration', id=kids['id']) }}">
      <button style="width: 140px;" type="button" class="btn btn-danger">Go Back!</button>
    </a>
    <h3 style="font-size: 50px;" class="text-center">Online Registration {{ kids['firstname_kid'] }} {{
      kids['middlename_kid'] }} {{ kids['lastname_kid'] }}</h3>
    {% endfor %}
    <h1 style="padding: 20px;">Admission Information</h1>
    <p><strong>Purpose:</strong> Use this form to collect all required information about a child enrolling in day care.
    </p>
    <p><strong>Directions:</strong> The day care provider gives this form to the child’s parent or guardian. The parent
      or guardian completes the form in its entirety and returns it to the day care provider before the child's first
      day of enrollment. The day care provider keeps the form on file at the child care facility.</p>
    <form method="POST" class="row">
      <h2 class="title-forms">Consent Information</h2>
      <p style="font-size: 20px;">Check all that apply:</p>
      <div class="col-md-12">
        <label class="form-label"><strong>1. Transporation</strong> <span style="color:#FF0000"
            ;>*</span></strong></label>
        <p>I give consent for my child to be transported and supervised by the operation's employees:</p>
      </div>
      <div class="col-md-8 row">
        <div class="form-check col">
          <select class="form-select" name="for_emergency_care" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">- For emergency care</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="on_field_trips" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">- On field trips</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="to_and_from_home" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">- To and from home</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="to_and_from_school" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">- To and from school</label>
        </div>
      </div>
      <hr>
      <div class="col-md-12">
        <label class="form-label"><strong>2. Field Trips</strong> <span style="color:#FF0000"
            ;>*</span></strong></label>
        <div class="col-md-8 row">
          <div class="form-check col">
            <select class="form-select" name="consent_field_trips" required>
              <option value="I give consent.">I give consent for my child to participate in field trips.</option>
              <option value="I do not give consent.">I do not give consent for my child to participate in field trips.</option>
            </select>
        </div>
      </div>
      <hr>
      <div class="col-md-12">
        <label class="form-label"><strong>3. Water Activities</strong> <span style="color:#FF0000"
            ;>*</span></strong></label>
        <p>I give consent for my child to participate in the following water activities:</p>
        <div class="col-md-8 row">
          <div class="form-check col">
            <select class="form-select" name="water_table_play" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">- Water table play</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="sprinkler_play" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">- Sprinkler play</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="splashing_wading_pools" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">- Splashing/wading pools</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="swimming_pools" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">- Swimming pools</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="aquatic_playgrounds" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">- Aquatic playgrounds</label>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-11">
        <label class="form-label"><strong>4. Receipt Of Written Operational Policies</strong> <span
            style="color:#FF0000" ;>*</span></strong></label>
        <p>I acknowledge receipt of the facility's operational policies, including those for:</p>
        <div class="col-md-12 row">
          <div class="form-check col">
            <select class="form-select" name="discipline_guidance" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Discipline and guidance</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="suspension_expulsion" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Suspension and expulsion</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="emergency_plans" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Emergency plans</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="procedures_conducting_health" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Procedures for conducting health checks</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="safe_sleep" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Safe sleep</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="procedures_parents_discuss" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Procedures for parents to discuss concerns with the director</label>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-11 row">
        <div class="form-check col">
          <select class="form-select" name="procedures_parents_activities" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">Procedures for parents to participate in operation activities</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="procedures_release_children" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">Procedures for release of children</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="illness_exclusion" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">Illness and exclusion criteria</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="procedures_dispensing_medications" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">Procedures for dispensing medications</label>
        </div>
      </div>
      <hr>
      <div class="col-md-11 row">
        <div class="form-check col">
          <select class="form-select" name="immunization_requirements" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">Immunization requirements for children</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="meals_food_service_practices" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">Meals and food service practices</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="procedures_visit_without_securing" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">Procedures to visit the center without securing prior approval</label>
        </div>
        <div class="form-check col">
          <select class="form-select" name="procedures_parent_child" required>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
          </select>
          <label class="form-check-label">Procedures for parents to contact Child Care Licensing, DFPS, Child Abuse
            Hotline, and DFPS website</label>
        </div>
      </div>
      <div class="col-md-12">
        <label class="form-label"><strong>5. Meals</strong> <span style="color:#FF0000" ;>*</span></strong></label>
        <p>I understand that the following meals will be served to my child while in care:</p>
        <div class="col-md-8 row">
          <div class="form-check col">
            <select class="form-select" name="meals_none" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">None</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="meals_breakfast" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Breakfast</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="meals_morning_snack" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Morning snack</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="meals_lunch" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Lunch</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="meals_afternoon_snack" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Afternoon snack</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="meals_supper" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Supper</label>
          </div>
          <div class="form-check col">
            <select class="form-select" name="meals_evening_snack" required>
              <option value="Yes">Yes</option>
              <option value="No">No</option>
            </select>
            <label class="form-check-label">Evening snack</label>
          </div>
        </div>
      </div>
      <hr>
      <div class="col-md-12">
        <label class="form-label"><strong>6. Days And Times In Care</strong> <span style="color:#FF0000"
            ;>*</span></strong></label>
        <p>My child is normally in care on the following days and times:</p>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">Days Of The Week</th>
              <th scope="col">AM</th>
              <th scope="col">PM</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Monday</td>
              <td><input type="time" name="monday_am" id="" class="form-control" required></td>
              <td><input type="time" name="monday_pm" id="" class="form-control" required></td>
            </tr>
            <tr>
              <td>Tuesday</td>
              <td><input type="time" name="tuesday_am" id="" class="form-control" required></td>
              <td><input type="time" name="tuesday_pm" id="" class="form-control" required></td>
            </tr>
            <tr>
              <td>Wednesday</td>
              <td><input type="time" name="wednesday_am" id="" class="form-control" required></td>
              <td><input type="time" name="wednesday_pm" id="" class="form-control" required></td>
            </tr>
            <tr>
              <td>Thursday</td>
              <td><input type="time" name="thursday_am" id="" class="form-control" required></td>
              <td><input type="time" name="thursday_pm" id="" class="form-control" required></td>
            </tr>
            <tr>
              <td>Friday</td>
              <td><input type="time" name="friday_am" id="" class="form-control" required></td>
              <td><input type="time" name="friday_pm" id="" class="form-control" required></td>
            </tr>
            <tr>
              <td>Saturday</td>
              <td><input type="time" name="saturday_am" id="" class="form-control" required></td>
              <td><input type="time" name="saturday_pm" id="" class="form-control" required></td>
            </tr>
            <tr>
              <td>Sunday</td>
              <td><input type="time" name="sunday_am" id="" class="form-control" required></td>
              <td><input type="time" name="sunday_pm" id="" class="form-control" required></td>
            </tr>
          </tbody>
        </table>
        <hr>
        <div class="">
          <button style="width: 140px;" type="submit" class="btn btn-primary">Submit</button>
          <div class="form-check">
            <input class="form-check-input" name="sign" type="checkbox" value="1" required>
            <label class="form-check-label">I have completed this form and understand that checking this box is
              considered to be my
              electronic signature of the form, certifying that the information above is true and accurate.
              <strong><span style="color:#FF0000" ;>*</span></strong></label>
          </div>
        </div>
        <hr>
    </form>
  </div>
</body>

</html>