<!DOCTYPE html>
<html>

<head>
  <title>Medical Authorization</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles_system.css') }}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>

<body>
  <div class="forms-enroll">
    {% for kids in kids %}
    <a href="{{ url_for('system.online_registration', id=kids['id']) }}">
      <button style="width: 140px;" type="button" class="btn btn-danger">Go Back!</button>
    </a>
    <h3 style="font-size: 50px;" class="text-center">Online Registration {{ kids['firstname_kid'] }} {{
      kids['middlename_kid'] }} {{ kids['lastname_kid'] }}</h3>
    {% endfor %}
    <div class="display-flex">
      <img class="img-logo-brightminds" src="{{ url_for('static', filename='images/logo_brightminds.png')}}">
    </div>
    <hr>
    <form method="POST" class="row">
      <h3 class="text-center">Medical Authorization</h3>
      <hr>
      <p>I hereby grant permission for <strong>Bright Minds Early Learning Center</strong> to take necessary steps to
        obtain emergency
        medical care until I can be contacted.</p>
      <p>Steps may include, but not limited to:</p>
      <ul>
        <li>
          Attempt to contact parent/emergency contacts
        </li>
        <li>
          Attempt to contact child’s physician
        </li>
        <li>
          Taking the child to local ER or Clinic
        </li>
      </ul>
      <p>In the event of a serious medical emergency, <strong>Bright Minds Early Learning Center</strong> has my permission to call an
        ambulance to transport my child(ren) for emergency medical treatment.</p>
      <h5>CHILDREN FULLNAME COVERED BY AUTHORIZATION: <strong><span style="color:#FF0000" ;>*</span></strong></h5>
      <div class="input-group mb-3">
        <span class="input-group-text">1.</span>
        <input type="text" class="form-control" name="children_authorization" pattern="[A-Za-z\s]{1,50}" maxlength="50" placeholder="Fullname" required>
      </div>
      <p><strong>Immunizations up to date? <span style="color:#FF0000" ;>*</span></strong></p>
      <div class="col-md-4">
        <select class="form-select" name="immunizations_up_to_date" required>
          <option value="Yes">Yes</option>
          <option value="No">No</option>
        </select>
      </div>
      <hr>
      <p><strong>Please list any allergies: <span style="color:#FF0000" ;>*</span></strong></p>
      <div class="mb-3">
        <textarea name="allergies" style="resize: none;" class="form-control" rows="3" maxlength="1000"></textarea>
      </div>
      <p><strong>Please list any other important medical information that should be known by treating physician: <span style="color:#FF0000" ;>*</span></strong></p>
      <div class="mb-3">
        <textarea name="any_medical_informaiton" style="resize: none;" class="form-control" rows="3" maxlength="1000"></textarea>
      </div>
      <p><strong>Please list any medications the child takes: <span style="color:#FF0000" ;>*</span></strong></p>
      <div class="mb-3">
        <textarea name="medications_child_takes" style="resize: none;" class="form-control" rows="3" maxlength="1000"></textarea>
      </div>
      <div class="">
        <button style="width: 140px;" type="submit" class="btn btn-primary">Submit</button>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="sign" value="1" required>
          <label class="form-check-label">I have completed this form and understand that checking this box is considered
            to be my
            electronic signature of the form, certifying that the information above is true and accurate.
            <strong><span style="color:#FF0000" ;>*</span></strong></label>
        </div>
      </div>
      <hr>
    </form>
  </div>
</body>

</html>